# Ignore everything by default
*
!*/

# Whitelist certain files and directories
!/.gitignore
!/README.md
!iterm2-preferences/**/*
!fish/config.fish
!git/**/*
!vim/**/*
!nvim/**/*
!vscode-neovim/**/*
!karabiner/**/*
!wallpapers/**/*
!appicons/**/*

# Blacklist some stuff again
.DS_Store
.plugins.lua.swp
